body {
    height: 100vh;
    width: 100vw;
    margin: 0px;
    background-color: #414345;
}
  
.nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr; 
    background-color: #232526;
}

.nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 3;
    grid-column-end: 4;
    color: #FFFFFF;
    font-size: 25px;
    padding-right: 20px;
}

.nav a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

.nav a:hover {
    color: #F09819;
}

.active {
    color: #ED1D34;
}
.nav {
    padding-right: 20px;
}

.logo {
    height: 100px;
    width: 100px;
    margin-left: 100px;
}

.hero-img {
    background-image: url(../images/hero.png);
    width: 100%;
    height: 670px;
    grid-column-start: -4;
    grid-column-end: -1;
}

.hero-text {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: -3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 10%;
    padding-left: 80px;
    
}

.hero-text h4 {
    font-size: 40px;
    color: #FF213A;
    margin-bottom: -50px;
    margin-top: -30px;
}

.hero-text h3 {
    font-size: 60px;
    color: white;
}

.cta {
    margin-top: -50px;
    background-color: #F09819;
    text-transform: uppercase;
    color: #303030;
    font-size: 25px;
    border-radius: 10px;
    padding: 20px;
    font-weight: bold;
    
}

.cta:hover {
    color: white;
    background-color: rgba(240, 152, 25, 70%);
    
}

@media only screen and (max-width: 540px) {
    .logo {
        display: none;
    }
}

/* Main Text Start*/

.main-text h2 {
    text-align: center;
    color: #EE1D34;

}

.main-text p {
    text-align: center;
    color: white;
    padding-bottom: 30px;
}



.dsps {
    text-align: center;
}

.features {
    text-align: center;
}

.features h3 {
    color: #EE1D34;
}

.features h2 {
    color: #F09819;
}

.features p {
    color: white;
}

.features img {
    width: 100%;
    height: 100%;
}

.fast-delivery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.fast-delivery img {
    grid-row-start: 1;
    grid-column-start: 1; 
    grid-row-end: 2;
    grid-column-end: 2;
    width: 150px;
    height: 150px;
    margin-top: 10px;
    margin-left: 20px;
}

.fast-delivery h3 {
    grid-row-start: 1;
    grid-column-start: 2; 
    grid-row-end: 1;
    grid-column-end: 3;
}

.fast-delivery p {
    grid-row-start: 1;
    grid-column-start: 2; 
    grid-row-end: 1;
    grid-column-end: 3;
    margin-top: 50px;
}

.free-service {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.free-serivce img {
    grid-row-start: 1;
    grid-column-start: 1; 
    grid-row-end: 2;
    grid-column-end: 2;
    width: 150px;
    height: 150px;
    margin-top: 10px;
    margin-left: 20px;
}

.free-service h3 {
    grid-row-start: 1;
    grid-column-start: 2; 
    grid-row-end: 1;
    grid-column-end: 3;
}

.free-service p {
    grid-row-start: 1;
    grid-column-start: 2; 
    grid-row-end: 1;
    grid-column-end: 3;
    margin-top: 50px;
}

.unlimited-releases {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;


}

.unlimited-releases img {
    grid-row-start: 1;
    grid-column-start: 1; 
    grid-row-end: 2;
    grid-column-end: 2;
    margin-top: 10px;
    margin-left: 20px;
    width: 150px;
    height: 150px;
}

.unlimited-releases h3 {
    grid-row-start: 1;
    grid-column-start: 2; 
    grid-row-end: 1;
    grid-column-end: 3;
    font-size: 15px;
}

.unlimited-releases p {
    grid-row-start: 1;
    grid-column-start: 2; 
    grid-row-end: 1;
    grid-column-end: 3;
    margin-top: 50px;
}

.why-us {
    background-color: #F4F4F4;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    width: 100%;
    height: 100%;
}

.why-us h3 {
    font-size: 50px;
    color: #414345;
    text-align: center;
    grid-area: 1 / 1 / 2 / 3;
}

.free-distribution {
    grid-area: 2 / 1 / 3 / 3; 
    background-color: #F0F0F0;
    border: 1px solid black;
    border-radius: 30px;
    color: #000000;
    box-shadow: 2px 2px 4px #000000;
    margin-top: -70px;
}

.free-distribution img {
    width: 80px;
    height: 77px;
    padding: 10px 50px 10px 50px;
}

.free-distribution h4 {
    color: #ED1D34;
    font-size: 25px;
    font-weight: bold;
}

.free-distribution p {
    color: black;
    font-size: 20px;
}

.splits {
    grid-area: 3 / 1 / 4 / 3;
    background-color: #F0F0F0;
    border: 1px solid black;
    border-radius: 30px;
    color: #000000;
    box-shadow: 2px 2px 4px #000000;
}

.splits img {
    width: 80px;
    height: 77px;
    padding: 10px 50px 10px 50px;
}

.splits h4 {
    color: #ED1D34;
    font-size: 25px;
    font-weight: bold;
}

.splits p {
    color: black;
    font-size: 20px;
}

.stats {
    grid-area: 4 / 1 / 5 / 3;
    background-color: #F0F0F0;
    border: 1px solid black;
    border-radius: 30px;
    color: #000000;
    box-shadow: 2px 2px 4px #000000;
}

.stats img {
    width: 80px;
    height: 77px;
    padding: 10px 50px 10px 50px;
}

.stats h4 {
    color: #ED1D34;
    font-size: 25px;
    font-weight: bold;
}

.stats p {
    color: black;
    font-size: 20px;
}

.payments {
    grid-area: 5 / 1 / 6 / 3;
    background-color: #F0F0F0;
    border: 1px solid black;
    border-radius: 30px;
    color: #000000;
    box-shadow: 2px 2px 4px #000000;
}

.payments img {
    width: 80px;
    height: 77px;
    padding: 10px 50px 10px 50px;
}

.payments h4 {
    color: #ED1D34;
    font-size: 25px;
    font-weight: bold;
}

.payments p {
    color: black;
    font-size: 20px;
}

.footer {
    background-color: #0E0F0F;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.footer-cta {
    grid-area: 1 / 1 / 3 / 5;
}

.footer-cta h2 {
    color: #F09819;
    text-align: center;
}

.footer-cta button {
    background-color: #F09819;
    text-transform: uppercase;
    color: #303030;
    font-size: 25px;
    border-radius: 10px;
    padding: 20px;
    font-weight: bold;
    text-align: center;
    
}

.footer-cta button:hover {
    color: white;
    background-color: rgba(240, 152, 25, 70%);
}

.footer-who-are-we {
    grid-area: 3 / 1 / 5 / 5;
    text-align: center;
}

.footer-who-are-we h4 {
    color: #F09819;
}

.footer-who-are-we p {
    color: #8A8A8A;
}

.footer-usefull-links {
    grid-area: 5 / 1 / 7 / 5;
    text-align: center;
}

.footer-usefull-links h4 {
    color: #F09819;
}

.footer-usefull-links a {
    color: #8A8A8A;
    text-align: center;
    text-decoration: none;
}

.footer-usefull-links a:hover {
    color: #EE1D34;
}


.footer-socials {
    grid-area: 7 / 1 / 9 / 5;
    text-align: center;
}

.footer-socials h4 {
    color: #F09819;
}

.footer-socials a {
    color: #8A8A8A;
    font-size: 35px;
    padding-left: 10px;
}


.fb:hover {
    color: #1877f2;
}

.insta:hover {
    color: #eb4255;
}

.twitter:hover {
    color: #5da9dd;
}

.spotify:hover {
    color: #1dd760;
}

/* About Start */

.about-hero-img {
    background-image: url(../images/about-header.png);
    width: 100%;
    height: 670px;
    grid-column-start: -4;
    grid-column-end: -1;
}

.about-hero-text {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: -3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 10%;
    padding-left: 80px;
    
}


.about-hero-text h3 {
    font-size: 60px;
    color: white;
}

/* About End */

/* Homepage Responsive */

@media only screen and (max-width: 320px) {
    body {
        width: 99vw;
    }
}

@media only screen and (max-width: 360px) {
    .hero-text {
        text-align: left;
    }
}

@media only screen and (max-width: 411px) {
    .hero-text {
        text-align: left;
    }
    
    .footer-cta {
        text-align: center;
    }
}

@media only screen and (max-width: 411px) {
    .hero-text {
        text-align: left;
    }
}

@media only screen and (max-width: 414px) {
    .footer-cta {
        text-align: center;
    }
}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 1024px) {
    .footer-cta {
        text-align: center;
    }
}

@media only screen and (max-width: 280px) {

}

@media only screen and (max-width: 1280px) {
    .footer-cta {
        text-align: center;
    }
}

/* Homepage Responsive END */

.main-about-text, .sec-about-text {
    text-align: center;
    color: white;
}

.main-about-text h4 {
    text-transform: uppercase;
    color: #EE1D34;
}

.sec-about-text {
    margin-top: 30px;
}

.sec-about-text h4 {
    color: #EE1D34;   
}

.sec-about-text h3 {
    color: #F09819;
}

.sec-about-text img {
    width: 100%;
}

.partners h4 {
    text-align: center;
    color: #F09819;
    font-size: 40px;
}
.partners {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.partners img {
    margin-top: 20px
}

.what-do-you-get {
    background-color: #F4F4F4;
}

.what-do-you-get h4 {
    color: #414345;
    text-align: center;
    font-size: 40px;
    padding-top: 50px;
}

.music-distribution-blurb {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
}

.music-distribution-blurb, img {
    grid-area: 1 / 1 / 2 / 2;
    width: 100%;
}

.music-distribution-blurb h2, p {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    flex-direction: column;
}

.music-distribution-blurb p {
    margin-top: 80px;
    
}

.catalogue-menagment-blurb {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
}

.catalogue-menagment-blurb img {
    grid-area: 1 / 1 / 2 / 2;
    width: 100%;
}

.catalogue-menagment-blurb h2 {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.catalogue-menagment-blurb p {
    margin-top: 80px;
}

.monetization-blurb {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
}

.monetization-blurb img {
    grid-area: 1 / 1 / 2 / 2;
    width: 100%;
}

.monetization-blurb h2 {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    flex-direction: column;
}

.monetization-blurb p {
    margin-top: 80px;
}

.support-blurb {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
}

.support-blurb img {
    grid-area: 1 / 1 / 2 / 2;
    width: 100%;
}

.support-blurb h2 {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    flex-direction: column;
}

.support-blurb p {
    margin-top: 80px;
}

.dedicated-support h3 {
    text-align: center;
    color: #EE1D34;
}

.dedicated-support p {
    text-align: center;
    margin-bottom: 50px;
}

.personal-acc-menager h3 {
    text-align: center;
    color: #EE1D34;
}

.personal-acc-menager p {
    text-align: center;
    margin-bottom: 50px;
}

.transparent-service h3 {
    text-align: center;
    color: #EE1D34;
}

.transparent-service p {
    text-align: center;
    margin-bottom: 50px;
}

.flexible-service h3 {
    text-align: center;
    color: #EE1D34;
}

.flexible-service p {
    text-align: center;
    margin-bottom: 50px;
}

.drm h3 {
    text-align: center;
    color: #EE1D34;
}

.drm p {
    text-align: center;
    margin-bottom: 50px;
}

.verification h3 {
    text-align: center;
    color: #EE1D34;
}

.verification p {
    text-align: center;
    margin-bottom: 50px;
}

.verification ul {
    margin-top: -30px;
}

/* Contact Start */ 

.contact-header {
    background-image: url(../images/contact-header.png);
    width: 100%;
    height: 670px;
    grid-column-start: -4;
    grid-column-end: -1;
}

.contact-hero-text {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: -3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 10%;
    padding-left: 80px;
    
}


.contact-hero-text h3 {
    font-size: 60px;
    color: white;
}

/* Contanct Form */ 

.contact-header-text h2 {
    color: #EE1D34;
    text-align: center;
}

.contact-header-text p {
    color: white;
    text-align: center;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}

input[type=submit]:hover {
    background-color: #232323;
    border: 2px solid white;
    color: white;
}

input[type=submit] {
    background-color: white;
    height: 60px;
    width: 110px;
    border: 2px solid black;
    border-radius: 5px;
}

input[type=reset] {
    background-color: #FF4646;
    height: 60px;
    width: 80px;
    border: 2px solid black;
    border-radius: 5px;
}

input[type=reset]:hover {
    background-color: #232323;
    border: 2px solid white;
    color: white;
}

input[type=text]:hover {
    border-bottom: 3px dotted FF4646;
}

.contact-form {
    border-radius: 5px;
    padding: 20px;
}

.contact-form label {
    color: white;
}

/* Responsive Design */ 

/* 1024+ px */

@media only screen and (min-width: 1024px) {
   
    /* Homepage */ 

    .main-text {
        margin: 40px 40px;
    }
    .main-text h2 {
        text-align: left;
    }

    .main-text p {
        text-align: left;
    }

    .dsps {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 20px 20px 20px;
    
    }

    .dsps img {
        width: 200px;
        height: 200px;
    }

    .features {
    display: grid;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    }

    .features-head {
        grid-area: 1 / 1 / 2 / 2;
        text-align: left;
        margin-left: 20px;
    }

    .fast-delivery {
        grid-area: 2 / 1 / 3 / 2;
        text-align: left;
    }

    .free-service {
        grid-area: 3 / 1 / 4 / 2;
        text-align: left;

    }

    .unlimited-releases {
        grid-area: 4 / 1 / 5 / 2;
        text-align: left;
    }

    .muscian {
        grid-area: 1 / 2 / 5 / 3;
    }

    .free-service img {
        width: 200px;
        height: 200px;
    }

    .why-us {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding: 1px;
    width: 99%;
    background-color: #F4F4F4;
    margin-top: 100px;
    margin-bottom: 100px;
    }

    .why-us h3 {
        text-align: center;
        grid-area: 1 / 1 / 2 / 3;
        margin-top: 20px;
        font-size: 30px;
    }
    
    .free-distribution {
        grid-area: 2 / 1 / 3 / 2;
        text-align: center;
    }

    .splits {
        grid-area: 2 / 2 / 3 / 3;
        text-align: center;
    }

    .stats {
        grid-area: 3 / 1 / 4 / 2;
        text-align: center;
      
    }

    .payments {
        grid-area: 3 / 2 / 4 / 3;
        text-align: center;
    }

    .free-distribution img {
        width: 50px;
        height: 50px;
    }
    
    .free-distribution h4 {
        font-size: 20px;
    }

    .free-distribution p {
        font-size: 18px;
        padding: 20px 20px;
    }

    .splits img {
        width: 50px;
        height: 50px;
    }
    
    .splits h4 {
        font-size: 20px;
    }

    .splits p {
        font-size: 18px;
        padding: 20px 20px;
    }

    .stats img {
        width: 50px;
        height: 50px;
    }
    
    .stats h4 {
        font-size: 20px;
    }

    .stats p {
        font-size: 18px;
        padding: 20px 20px;
    }

    .payments img {
        width: 50px;
        height: 50px;
    }
    
    .payments h4 {
        font-size: 20px;
    }

    .payments p {
        font-size: 18px;
        padding: 20px 20px;
    }

    /* Footer */

    .footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 20px;
    width: 100%;
    }

    .footer-cta {
        grid-area: 1 / 1 / 2 / 4;
        margin-top: 20px;
        text-align: center;
    }

    .footer-who-are-we {
        grid-area: 2 / 1 / 3 / 2;
        margin: 0 0 20px 20px;
    }

    .footer-usefull-links {
        grid-area: 2 / 2 / 3 / 3;
        margin: 0 0 20px 20px;
    }

    .footer-socials {
        grid-area: 2 / 3 / 3 / 4;
        margin: 0 0 20px 20px;
    }

    /* About Page */

    .main-about-text {
        text-align: left;
        padding: 30px;
    }

    .sec-about-text {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 10px; 
    }

    .sec-about-text h4 {
        grid-area: 1 / 1 / 2 / 2;
        margin-bottom: 60px;
    }

    .sec-about-text h3 {
        grid-area: 1 / 1 / 2 / 2;
        padding: 20px;
        margin-top: 30px;
    }

    .sec-about-text p {
        grid-area: 1 / 1 / 2 / 2;
        margin-top: 100px;
        padding: 20px;

    }


    .sec-about-text img {
        grid-area: 1 / 2 / 2 / 3;
    }

    .parners-icons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 20px 10px;
    }

    .what-do-you-get {
    display: flex;
    flex-direction: colum;
    justify-content: center;
    align-items: center;
    text-align: center;
    }
    
    .what-do-you-get h4 {
        display: none;
        width: 100%;
    }

    .main-blurbs img {
        width: 150px;
        height: 150px;
    }

    .main-blurbs {
        padding: 200px;
        margin-top: -200px;
    }

    .verification ul {
        list-style: none;
    }
}

/* Repsonsive Desing 280px */

@media only screen and (max-width: 280px) {
    body {
        width: 99vw;
    }

    .nav a {
        font-size: 20px;
    }

    .cta {
        display: none;
    }
}


/* Repsonsive Desing 1920px */

@media only screen and (min-width: 1920px) {

    /* Home Page */

    body {
        width: 99vw;
    }

   .nav a {
       font-size: 35px;
   }

   .hero-text h4 {
       font-size: 45px;
   }

   .hero-text h3 {
       font-size: 70px;
   }

   .cta {
       font-size: 40px;
   }

   .main-text h2 {
       font-size: 30px;
   }

   .main-text p {
       font-size: 25px;
   }

   .dsps img {
       width: 250px;
       height: 250px;
       margin-bottom: 20px;
   }

   .features-head h3 {
    font-size: 40px;
   }

   .features-head h2 {
    font-size: 35px;
   }

   .features-head p {
       font-size: 25px;
   }

   .fast-delivery h3 {
       font-size: 30px;
   }
   .fast-delivery {
       padding: 20px;
   }

   .fast-delivery p {
    font-size: 25px;
    margin-top: 70px;
   }
   
   .fast-delivery img {
       width: 150px;
       height: 150px;
       padding: 50px;  
   }
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
   .free-service {
     padding: 30px;
   }

   .free-service h3 {
    font-size: 30px;
   }

   .free-service p {
    font-size: 25px;
    margin-top: 100px;
   }

   .free-serivce > img {
    width: 150px;
    height: 150px;
    padding: 50px;
   }

   ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
   ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
   ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
   ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
   .unlimited-releases {
    padding: 30px;
   }

   .unlimited-releases h3 {
       font-size: 30px;
   }

   .unlimited-releases p {
    font-size: 25px;
    margin-top: 100px;
   }

   .unlimited-releases img {
    width: 150px;
    height: 150px;
    padding: 50px;  

   }

   .muscian {
       width: 100%;
   }

   .why-us h3 {
       font-size: 50px;
       padding-top: 30px;
   }

   .why-us {
       width: 100%;
   }

   .free-distribution {
    width: 600px;
    height: 300px;
    margin: 10px 80px;
   }

   .free-distribution img {
    width: 80px;
    height: 80px;
    padding: 20px; 
   }

   .free-distribution h4 {
    font-size: 30px;
    padding: 10px;
    margin-top: -20px;
    padding: 10px;	
   }

   .free-distribution p {
    font-size: 20px;
    padding: 5px;
    
   }

   .splits {
    width: 600px;
    height: 300px;
    margin: 10px 80px;
    
   }

   .splits img {
    width: 80px;
    height: 80px;
    padding: 20px; 
   }

   .splits h4 {
    font-size: 30px;
    padding: 10px;
    margin-top: -20px;	
   }

   .splits p {
    font-size: 20px;
    padding: 5px;
   }

   .stats {
    width: 600px;
    height: 300px;
    margin: 10px 80px;
    
   }

   .stats img {
    width: 80px;
    height: 80px;
    padding: 20px; 
   }

   .stats h4 {
    font-size: 30px;
    padding: 10px;
    margin-top: -20px;	 
   }

   .stats p {
    font-size: 20px;
    padding: 5px;
   }

   .payments {
    width: 600px;
    height: 300px;
    margin: 10px 80px;
   }

   .payments img {
    width: 80px;
    height: 80px;
    padding: 20px; 
   }

   .payments h4 {
    font-size: 30px;
    padding: 10px;
    margin-top: -20px;	
   }

   .payments p {
    font-size: 20px;
    padding: 5px;
   }


   /* Footer */
   .footer-cta h2 {
       font-size: 35px;
   }

   .footer-cta button {
       font-size: 30px;
   }

   .footer-who-are-we h4 {
    font-size: 25px;
   } 

   .footer-who-are-we p {
       font-size: 20px;
   }

   .footer-usefull-links h4 {
    font-size: 25px;
   }

   .footer-usefull-links a {
      font-size: 20px;
      line-height: 60px;
   }

   .footer-socials h4 {
        font-size: 20px;
   }

   .footer-socials a {
    font-size: 60px;
   }



   /* About Page */ 

   .about-hero-text h3 {
    font-size: 100px;
   }

   .main-about-text h4 {
       font-size: 35px;
   }

   .main-about-text p {
       font-size: 20px;
   }

   .sec-about-text h4 {
    font-size: 35px;
   }

   .sec-about-text h3 {
       font-size: 30px;
       margin-top: 100px;
   }

   .sec-about-text p {
       font-size: 20px;
       margin-top: 270px;
       line-height: 40px;
   }

   .sec-about-text img {
       width: 90%;
   }

   .what-do-you-get {
       text-align: center;
   }

   .what-do-you-get h4 {
    display: none;
}



.music-distribution-blurb {
   padding: 20px;
}

.music-distribution-blurb img {
    width: 250px;
    height: 250px;

}

.music-distribution-blurb h2 {
    font-size: 30px;
}

.music-distribution-blurb p {
    font-size: 20px;
}

.catalogue-menagment-blurb {
    padding: 20px;
}

.catalogue-menagment-blurb img {
    width: 250px;
    height: 250px;
}

.catalogue-menagment-blurb h2 {
   font-size: 30px;
}

.catalogue-menagment-blurb p {
    font-size: 20px;
}

.monetization-blurb {
    padding: 20px;
}

.monetization-blurb img {
    width: 250px;
    height: 250px;
}

.monetization-blurb h2 {
    font-size: 30px;
}

.monetization-blurb p {
    font-size: 20px;
}

.support-blurb img {
    width: 250px;
    height: 250px;
}


.support-blurb {
    padding: 20px;
}

.support-blurb img {
    width: 250px;
    height: 250px;
}

.support-blurb h2 {
    font-size: 30px;
}

.support-blurb p {
    font-size: 20px;
}

.dedicated-support h3 {
    font-size: 25px;
}

.dedicated-support p {
    font-size: 20px;
}

.personal-acc-menager h3 {
    font-size: 25px;
}

.personal-acc-menager p {
    font-size: 20px;
}

.transparent-service h3 {
    font-size: 25px;
}

.transparent-service p {
    font-size: 20px;
}

.flexible-service h3 {
    font-size: 25px;
}

.flexible-service p {
    font-size: 20px;
}

.drm h3 {
    font-size: 25px;
}

.drm {
    font-size: 20px;
}

.verification h3 {
    font-size: 25px;
}

.verification p {
    font-size: 20px;
}

.verification ul {
    font-size: 20px;
    text-align: center;
    list-style: none;
    font-weight: bold;
}



/* Contact Page */

.contact-hero-text h3 {
    font-size: 100px;
}

.contact-header-text h2 {
    font-size: 35px;
}

.contact-header-text p {
    font-size: 25px;
}

.contact-form label {
    font-size: 20px;
}

.contact-form input {
    font-size: 18px;
}

.contact-form textarea {
    font-size: 18px;
}

#submit-button {
    font-size: 20px;
    width: auto;
}

#clear-button {
    font-size: 20px;
    width: auto;
}

}